@import "../../../../scss/breakpoints.scss";

.form-interest {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 9rem;
  width: 28rem;
}

@media (min-width: $break-tablet) {
  .form-interest {
    flex-direction: row;
    width: 47.5rem;

    & > *:first-child {
      flex-basis: 29.9rem;
      margin-right: 1rem;
    }
    & > *:nth-child(2) {
      flex-basis: 17.2rem;
    }
  }
}

