@import "../../../../scss/breakpoints.scss";
@import "../../../../scss/color.scss";
@import "../../../../scss/font.scss";

@mixin regular {
  font-family: $secondaryFont;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height:  2.45rem;
}

@mixin small {
  font-family: $secondaryFont;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height:  1.4rem;
}

.typo__regular__white-light {
  @include regular;
  color: $whiteLight;
  text-align: center;
}

.typo__small__grey-light {
  @include small;
  color: $greyLight;
}

.typo__small__grey-dark {
  @include small;
  color: $greyDark;
  text-align: center;
}

@media (min-width: $break-tablet) {
  .typo__regular__white-light{
    font-size: 2.4rem;
  }
}