@import "../../../../scss/breakpoints.scss";
@import "../../../../scss/color.scss";
@import "../../../../scss/font.scss";

@mixin regular {
  font-family: $secondaryFont;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height:  2.45rem;
}

@mixin small {
  font-family: $secondaryFont;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height:  1.4rem;
}

.typo--designed-by {
  color: $designedBy;
  font-family: $primaryFontBold;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.typo--regular-white-light {
  @include regular;
  color: $whiteLight;
  text-align: center;
}

.typo--regular-dark-grey {
  @include regular;
  color: $greyDark;
  line-height: 1.4rem;
}

.typo--signature {
  color: $linkGrey;
  font-family: $primaryFont;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.typo--small-black {
  @include small;
  color: $black;
  font-family: $primaryFontBold;
  margin-bottom: 0;
  margin-top: 0;
}

.typo--small-grey-light {
  @include small;
  color: $greyLight;
}

.typo--small-grey-dark {
  @include small;
  color: $greyDark;
  line-height: 1.6rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  width: 100%;
}

@media (min-width: $break-tablet) {
  .typo--regular-white-light{
    font-size: 2.4rem;
  }
}