@import "../../../scss//breakpoints.scss";

.guest-preview-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > *:first-child {
    margin-bottom: 1.4rem;
  }

  & > *:last-child {
    margin-top: 2rem;
  }
}

.guest-preview-list__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    margin-bottom: 1.6rem;
  }
}

@media (min-width: $break-tablet) {
  .guest-preview-list  {
    align-items: center;
    display: flex;
    flex-direction: column;

    & > *:first-child {
      margin-bottom: 3.5rem;
    }

    & > *:last-child {
      width: 18rem;
    }
  }
  .guest-preview-list__content {
    flex-direction: row;
    flex-wrap: wrap;
    width: 46rem;
    & > * {
      flex: 0 50%;
    }
  }
}

@media (min-width: $break-desktop) {
  .guest-preview-list__content {
    width: 100%;
  }
}