@import "../../../../scss/color.scss";
@import "../../../../scss/font.scss";

.input__text__fluid{
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px $inputBorder;
  height: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  
  font-family: $secondaryFont;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 1.5rem;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  color: #999999;

  &:focus {
    color: $black;
    outline: none;
  }
}