@import "../../../scss/breakpoints.scss";
@import '../../../scss/color';
@import "../../../scss/font.scss";

@mixin basicTitle {
  font-family: $primaryFontBold;
  margin: 0;
}

@mixin primary {
  color: $white;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.h1__front-page__big, .h1__front-page__medium, .h2__front-page, .h3__front-page{
  @include basicTitle;
}

.h1__front-page__big {
  @include primary;
  font-size: 3rem;
}

.h1__front-page__medium {
  @include primary;
  font-size: 2rem;
}

.h2__front-page {
  color: $black;
  font-size: 2.2rem;
  text-align: center;
}

.h3__front-page {
  color: $white;
  font-size: 2.4rem;
}

.h4__front-page {
  color: $red;
  font-family: $primaryFont;
  font-size: 1.6rem;
}

@media (min-width: $break-tablet) {
  .h1__front-page__big {
    font-size: 5.4rem;
  }
}