@import "../../../../scss/breakpoints.scss";

.card-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  display: block;
  height: 12rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: $break-tablet) {
  .card-category {
    height: 31rem;
  }
}