@import "../../../../scss/breakpoints.scss";

.card-category {
  border-radius: 4px;
  display: block;
  height: 12rem;
  margin-left: 1rem;
  margin-right: 1rem;

  & img {
    display: block;
    height: auto;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: $break-tablet) {
  .card-category {
    height: 31rem;
    & img {
      height: 31rem;
    }
  }
}