@import "../../../../scss/breakpoints.scss";

.card-category {
  border-radius: 4px;
  display: block;
  height: 12rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;

  & img {
    display: block;
    height: auto;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    transition: ease 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: $break-tablet) {
  .card-category {
    height: 31rem;
    & img {
      height: 31rem;
    }
  }
}