@import "../breakpoints.scss";

.front-page__section {
  margin-top: 3.5rem;
}

.front-page__section__search-partners {
  margin-top: 4rem;
}

@media (min-width: $break-tablet) {
  .front-page__section {
    margin-top: 9.5rem;
  }

  .front-page__section__search-partners {
    margin-top: 8rem;
  }
}