@import '../../../scss/color';
@import "../../../scss/font.scss";

@mixin basicButton {
  border-radius: 25px;
  font-family: $primaryFont;
  font-size: 1.4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  height: 4rem;
  letter-spacing: normal;
  padding: 0;
  text-align: center;
  width: 28rem;
}

@mixin smallHeaderButton {
  background: none;
  color: $white;
  font-family: $primaryFont;
  width: 9rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.btn__login {
  @include smallHeaderButton;
  border: none;
  padding-left: 0;
  width: 6rem;;
}

.btn__sign-up {
  @include smallHeaderButton;
  border-radius: 40px;
  border: solid 2px #ffffff;
}

.btn__action__red-bgc {
  @include basicButton;
  background-color: $red;
  border: none;
  color: $white;
} 

.btn__action__white-bgc {
  @include basicButton;
  background-color: $white;
  border: solid 2px $red;
  color: $red;
}