@import '../../../scss/color';

@mixin basicButton {
  border-radius: 25px;
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  height: 4rem;
  letter-spacing: normal;
  padding: 0;
  text-align: center;
  width: 28rem;
}

.redBackground {
  @include basicButton;
  background-color: $red;
  border: none;
  color: $white;
} 

.whiteBackground {
  @include basicButton;
  background-color: $white;
  border: solid 2px $red;
  color: $red;
}